@font-face {
    font-family:roboto ;
    src: url(fonts/Roboto-Regular.ttf);
}
body{
font-family: roboto;
background: gray;
}
.card_p{
    background-color: #fff;
    
    margin-top: 5vh;
    width: 50%;
    margin-left: 25vw;
    padding: 6px;
    padding-left: 40px ;
    line-height: 1.5;
    border-radius: 20px;
    height: 50vh;
    font-size: 1.1rem;
}


.card_p h1{
text-align: center;
color: rgb(1, 1, 192);
}
.h4{
    text-align: center;
    color: gray;
}

.card_np{
   background-color:  rgba(197, 197, 197, 0.342);
   padding-top: 2px;
   padding-bottom: 6px;
   padding-left: 15px;
   border-radius: 15px;
   margin-right: 20px;
   
   
}
.btn{
    width: 9vw;
    border-radius: 20px;
    color: blue;
    border-style: none;
    height: 3vh;
}