@font-face {
    font-family:roboto ;
    src: url(fonts/Roboto-Regular.ttf);
}
body{
font-family: roboto;
background: darkgray;
}
.card_p{
    background-color: #fff;
    
    margin-top: 20vh;
    width: 44vw;
    margin-left: 25vw;

    padding: 20px;
    line-height: 1.4;
    border-radius: 20px;
    height: 55vh;
    font-size: 1.1rem;
    
}

p{
    text-align: justify;
}
.card_p h1{
text-align: center;
color: rgb(1, 1, 192);
}
.h4{
    text-align: center;
    color: gray;
}

.card_np{
   background-color:  rgba(197, 197, 197, 0.13);
   padding-top: 2px;
   padding-bottom: 6px;
   padding-left: 15px;
   border-radius: 10px;
   margin-right: 20px;
   border-color:  rgba(197, 197, 197, 0.342);
   border-style: solid;
   
   
}
.card_p ul{
padding-left: 18px;
}

.card_np li{
margin-bottom: 5px;
}
.btn{
    padding: 5px 30px;
    border-radius: 7px;
    color: rgb(32, 147, 255);
    border-style: none;
    height: 4vh;
    font-size: 1.1rem;
    border-color:  rgba(197, 197, 197, 0.342);
    border-style: solid;
    cursor: pointer;
    margin-top: 10px;
    
}
.btn:hover{
    background-color: blue;
    color: white;
}